header {
    height:250px;
    display: flex;
    align-items: center;
    background-image: linear-gradient(rgba(255, 255, 255, 0.3), rgba(255, 255, 255, 0.3)), url("/images/header/home.jpeg");
    background-repeat: no-repeat;
    background-position: 10% 17%;
    background-size: 100%;
    padding-left: var(--padding-lr-desktop);

    div.title {
        display: flex;
        flex-direction: column;
        text-align: left;
    }

    .heading {
        color: white;
        font-weight: bold;
    }

    .heading-1 {
        font-size: 68px;
        margin-left: -3px;

    }

    .heading-2 {
        font-size: 22px;
    }
}


@media screen and (max-width: 1279px) {
    header {
        height: 30vh;
        background-size: 120%;
    }
}

@media screen and (max-width: 768px) {
    header {
        height: 20vh;
        padding-left: var(--padding-lr-tablet);

        .heading-1 {
            font-size: 55px;
            margin-left: -3px;

        }

        .heading-2 {
            font-size: 25px;
        }
    }
}

@media screen and (max-width: 500px) {
    header {
        height: 125px;
        padding-left: var(--padding-lr-smartphone);
        background-size: 125%;

        .heading-1 {
            font-size: 35px;
            margin-left: -3px;

        }

        .heading-2 {
            font-size: 15px;
        }
    }
}