nav {
    height:4vh;
    background-color: black;
    color: white;
    max-width: 100vw;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding-right: 3em;
    padding-left: 3em;

    span {
        font-size: 1.6vw;
    }

    ul {
        display:flex;
        list-style-type: none;
        li {
            margin-left: 15px;
            font-size: 1.2vw;
        }
    }
}