nav {
    height:55px;
    background-color: #202020;
    max-width: 100vw;
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding-left: var(--padding-lr-desktop);
    padding-right: var(--padding-lr-desktop);

    span {
        position: relative;
        top: 1px;
        font-size: 24px;
        letter-spacing: 0.04rem;
    }

    ul {
        display:flex;
        list-style-type: none;
        li {
            margin-left: 33px;
            font-size: 18px;
        }
    }

    div.burger {
        display: none;
    }
}

div.select-menu {
    display: none;
}

@media screen and (max-width: 768px) {
    nav {
        height: 5vh;
        padding-left: var(--padding-lr-tablet);
        padding-right: var(--padding-lr-tablet);

        span {
            font-size: 20px;
        }

        ul {
            li {
                margin-left: 33px;
                font-size: 15px;
            }
        }
    }
}

@media screen and (max-width: 500px) {
    nav {
        height:45px;
        padding-left: var(--padding-lr-smartphone);
        padding-right: var(--padding-lr-smartphone);

        span {
            font-size: 15px;
        }

        ul {
            display: none;
        }

        div.burger {
            display: flex;
            height: 100%;
            align-items: center;
        }

        div.burger img {
            width: 25px;
            height: 25px;
        }
    }

    div.select-menu {
        display: flex;
        flex-direction: column;
        align-items: center;
        padding-left: var(--padding-lr-smartphone);
        padding-right: var(--padding-lr-smartphone);
        background-color: #202020;

        height: 0;
        transform: scaleY(0);
        transform-origin: top;
        opacity: 0;
        transition: transform 0.3s ease, opacity 0.2s ease;

        /* Hide overflow during animation */
        overflow: hidden;


        div {
            padding-top: 10px;
            min-height: 35px;
            border-top: 1px solid var(--font-color-default);
            width: 100%;
            visibility: hidden;
        }
    }

    div.select-menu.open {
        height: 184px;
        transform: scaleY(1);
        opacity: 1;

        div {
            visibility: visible;
            /* Add a small delay so items appear after menu opens */
            transition: visibility 0s 0.2s;
        }
    }
}